/* Partie CSS de la page d'accueil*/

/* Partie Bandeau */
.bandeau {
    position: relative;
    width: 100%;
    min-height: 320px; /* ajustez selon la hauteur de votre image */
    height: auto;
    background-image: url("../images/Bandeau_titre.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
}

.texte-bandeau h1 {
    margin: 0;
    font-size: 64px;
    font-family: "Krona One", sans-serif;
    font-weight: normal;
}

.texte-bandeau h2 {
    margin-top: 10px;
    font-size: 64px;
    font-family: "Krona One", sans-serif;
}

/* Partie intro + présentation sujet */

.description {
    border: 5px solid #828282;
    border-radius: 12px;
    padding: 15px 20px;
    margin: 20px;
    min-height: 150px;
}

.description h3 {
    font-family: "Inika", serif;
    font-weight: bold;
    font-size: 35px;
    margin: 0 0 10px 0;
}

.description p {
    margin: 0;
    padding: 5px;
    font-style: normal;
    font-family: "Inika", serif;
    font-size: 25px;

}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 10px;
}


/* Partie bouton */

.conteneur-boutons {
    display: flex;
    gap: 15px;
    margin: 20px;
    justify-content: flex-end;
}
.bouton-visualisation {
    background-color: rgba(0, 181, 116, 0.8);    color: #1a1a1a;
    font-family: "Krona One", sans-serif;
    font-size: 2rem;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    padding: 15px 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    text-decoration: none;
    cursor: pointer;
}

/* Image voiture */

#voiture {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

#voiture img {
    width: 100%;
    max-width: 1000px;
    height: auto;
}

/*footer*/
body {
    min-height: 100vh;
    background-color: #F4F7F6;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: #d0d0d0;
    padding: 20px 40px;
    border-top: 3px solid #1a1a1a;
    margin-top: auto;
    font-family: "Inika", serif;
    font-size: 25px;
}

.footer-gauche, .footer-droite {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.footer-gauche img {
    height: 60px;
    width: auto;
    align-self: flex-start;
}
.footer-droite img {
    height: 200px;
    width: auto;
    align-self: flex-start;
}

.footer-droite {
    align-items: center;
    
}
