/* Partie CSS de la page d'accueil*/


.bandeau {
    position: relative;
    width: 100%;
    min-height: 320px; /* ajustez selon la hauteur de votre image */
    height: auto;
    background-image: url("../images/Bandeau_titre.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
}

.texte-bandeau h1 {
    margin: 0;
    font-size: 64px;
    font-family: "Krona One", sans-serif;
    font-weight: normal;
}

.texte-bandeau h2 {
    margin-top: 10px;
    font-size: 64px;
    font-family: "Krona One", sans-serif;
}










#map {
    height: 400px;
    width: 400px;
}